$backgroud-color: #282c34;

// Button
$btn-default: #333;
$btn-primary: blue;
$btn-info: skyblue;
$btn-warning: orange;
$btn-success: green;
$btn-danger: red;
$btn-disabled: #777;
$btn-transparent: white;